<div class="span-24">
<h1>Show Location</h1>
</div>

<div class="span-12">
<table>
  <tr>
    <th>Name:</th>
    <td><%=h @location.name %></td>
  </tr>
  <tr>
    <th>Address:</th>
    <td><%=h @location.address %></td>
  </tr>
  <tr>
    <th>Notes:</th>
    <td><%=h @location.notes %></td>
  </tr>
</table>
</div>

<div class="span-12 last">
<%= @map.div(:width => 500, :height => 300) %>
</div>

<div class="span-24">
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
