<div "data">
<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>

<p>
  <b>Notes:</b>
  <%=h @location.notes %>
</p>

</div>

<%= @map.div(:width => 600, :height => 300) %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
