<head><title>Rubyholic</title></head>
<img src="/images/rubyholic.png">

<h3>Listing groups</h3>

<table>
  <tr>
    <th><%= link_to "Name",     groups_path(:sort => "name") %></th>
    <th>AKA</th>
    <th>URL</th>
    <th><%= link_to "Location", groups_path(:sort => "location") %></th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.name %></td>
    <% if group.alternate_name.empty? %>
    <td>Non Specified</td>
    <% else %>
    <td><%=h group.alternate_name %></td>
    <% end %>
    <td><a href="<%=h group.url %>"><%= h group.url %></a></td>
    <td><%=h group.locations.first.name %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @groups %>

<br />

<%= link_to 'New group', new_group_path %>
