<h1>New Event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <!-- calendar_date_select_tag "event[start_date]", @event.start_date, :time => true -->
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= select :event, :duration, Event::DURATIONS, { :include_blank => false, :selected => 120 } %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= select :event, :group_id, Group.find(:all).collect { |g| [g.name, g.id] } %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= select :event, :location_id, Location.find(:all).collect { |l| [l.name, l.id] } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
